<!-- start section accent -->
<div class="accent">
    <div class="container">
        <div class="accent__box">
            <div class="accent__item fade-in-up">
                <div class="accent__title">Бесплатная консультация!</div>
                <div class="accent__desc">Не знаете что выбрать? Боитесь ошибиться? Оставьте заявку на бесплатную консультацию! Наши специалисты помогут подобрать подходящую именно Вам обувь </div>
            </div>
            <a href="#" class="accent__button fade-in-up">Позвонить нам</a>
        </div>
    </div>
</div>
<!-- end section accent -->