:root {
  --color-dark: #333;
  --color-extra-dark: #222;
  --color-white: #fff;
  --color-primary: #ee8013;
  --color-light-primary: #ffd300;
  --color-medium-grey: #eaeaea;
  --color-light-grey: #f5e6e8;
  --color-dark-grey: #555;
  --color-error: #f00;
  --color-info: #00f;
  --gradient-primary: linear-gradient(to left, #e4302f, #ee7f14);
  --space-small: 20px;
  --space-extra-small: 10px;
  --space-super-small: 5px;
  --space-medium: 30px;
  --space-large: 40px;
  --space-extra-large: 80px;
  --shadow-header: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-base: 0 0 10px rgba(0, 0, 0, 0.2);
  --duration-base: 0.2s
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
html {
  scroll-behavior: smooth
}
body {
  font-family: 'PT Sans',sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1
}
.container {
  margin: 0 auto;
  max-width: 1200px
}
@media (max-width:575.98px) {
  .container {
    width: 100%
  }
  .wrapper {
    padding: var(--space-extra-large) var(--space-small)
  }
}
@media (min-width:576px) and (max-width:767.98px) {
  .container {
    width: 540px
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .container {
    width: 720px
  }
}
@media (min-width:992px) and (max-width:1199.98px) {
  .container {
    width: 960px
  }
}
@media (min-width:1200px) {
  .container {
    width: 1140px
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: var(--space-small) 0;
  -webkit-box-shadow: var(--shadow-header);
  box-shadow: var(--shadow-header);
  background-color: var(--color-white)
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none
}
.header__link {
  display: block;
  padding: 0 var(--space-small);
  text-decoration: none;
  color: var(--color-dark);
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: color,-webkit-transform;
  transition-property: color,-webkit-transform;
  -o-transition-property: transform,color;
  transition-property: transform,color;
  transition-property: transform,color,-webkit-transform
}
.header__link:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: var(--color-primary)
}
.subheader__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--space-medium) 0
}
.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.call__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  margin-right: var(--space-small)
}
.call__stagework {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: var(--space-extra-small)
}
.call__number {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none
}
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.company__name {
  color: var(--color-dark);
  font-size: 30px;
  font-weight: 700
}
.company__desc {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 20px;
  margin-top: var(--space-extra-small)
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none
}
.icons__item {
  margin: 0 var(--space-super-small)
}
.icons__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  background-color: var(--color-medium-grey);
  font-size: 20px;
  border-radius: 50%
}
.icons__item:first-child {
  margin-left: 0
}
.icons__item:last-child {
  margin-right: 0
}
.main {
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.6)),to(rgba(0,0,0,.6))),url(../images/bg.jpg);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/bg.jpg);
  background-image: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--space-large) 0
}
.main__item {
  max-width: 600px
}
.sale {
  color: var(--color-white)
}
.sale__title {
  font-size: 40px;
  font-weight: 700
}
.sale__desc {
  font-size: 20px;
  font-weight: 400;
  margin-top: var(--space-medium)
}
.sale__timeout {
  font-size: 18px;
  font-weight: 700;
  margin-top: var(--space-large);
  margin-bottom: var(--space-small)
}
@media (min-width:992px) and (max-width:1199.98px) {
  .sale {
    padding-right: var(--space-medium)
  }
}
.timeout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.timeout__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 var(--space-super-small)
}
.timeout__item:first-child {
  margin-left: 0
}
.timeout__item:last-child {
  margin-right: 0
}
.timeout__booble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-dark);
  font-size: 35px;
  font-weight: 700
}
.timeout__subbooble {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-white);
  margin-top: 3px
}
.form {
  background-color: var(--color-white);
  padding: var(--space-large) var(--space-medium);
  max-width: 360px;
  border-radius: 5px
}
.form__group {
  margin-bottom: var(--space-medium)
}
.form__title {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: var(--space-extra-small)
}
.form__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--color-medium-grey);
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  line-height: 26px
}
.form__input:focus {
  background-color: var(--color-medium-grey)
}
.form__input:hover {
  background-color: var(--color-medium-grey)
}
.form__checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer
}
.form__label {
  color: var(--color-dark-grey);
  font-weight: 400;
  line-height: 26px
}
.form__link {
  color: var(--color-info)
}
.form__button {
  width: 100%;
  border: none;
  background: var(--gradient-primary);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 26px;
  outline: 0;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity
}
.form__button:hover {
  opacity: .9
}
.form_red {
  color: var(--color-error)
}
.about {
  background-image: url(http://lp3-gr-textiles.oml.ru/thumb/2/bgxhtH9azgTZ9vBPNRiycg/1288r/d/54931803_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.about__box {
  padding: var(--space-extra-large) 0
}
.about__banner {
  background-color: rgba(0,0,0,.5);
  padding: var(--space-large) var(--space-medium);
  max-width: 800px
}
.about__title {
  color: var(--color-white);
  font-size: 50px;
  font-weight: 700
}
.about__desc {
  color: var(--color-light-grey);
  font-size: 22px;
  font-weight: 400;
  margin-top: var(--space-medium);
  line-height: 28px
}
.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 180px;
  background: var(--gradient-primary);
  padding: var(--space-small) var(--space-medium);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  margin-top: var(--space-medium);
  font-size: 18px;
  font-weight: 700
}
.about__button:hover {
  opacity: .9
}
.catalog__box {
  padding: var(--space-extra-large) 0
}
.catalog__title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 40px;
  text-align: center
}
.catalog__desc {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: var(--space-small)
}
.catalog__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.cart {
  padding: var(--space-small);
  border: 1px solid var(--color-medium-grey);
  max-width: 340px;
  border-radius: 5px;
  margin: 20px;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform,-webkit-box-shadow;
  transition-property: -webkit-transform,-webkit-box-shadow;
  -o-transition-property: transform,box-shadow;
  transition-property: transform,box-shadow;
  transition-property: transform,box-shadow,-webkit-transform,-webkit-box-shadow
}
.cart__title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-top: var(--space-medium)
}
.cart__price {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: var(--space-small) 0
}
.cart__img {
  width: 100%
}
.cart__table {
  width: 100%;
  border: none;
  border-collapse: collapse
}
.cart__table tr:nth-child(odd) {
  background-color: var(--color-light-grey)
}
.cart__th {
  text-align: left;
  padding: var(--space-extra-small);
  color: var(--color-dark);
  font-weight: 700;
  font-size: 16px
}
.cart__td {
  text-align: left;
  padding: var(--space-extra-small);
  color: var(--color-dark);
  font-weight: 400;
  font-size: 16px
}
.cart__button {
  width: 100%;
  border: none;
  background: var(--gradient-primary);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 26px;
  outline: 0;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  margin-top: var(--space-small)
}
.cart__button:hover {
  opacity: .9
}
.cart:hover {
  -webkit-transform: scale(1.005);
  -ms-transform: scale(1.005);
  transform: scale(1.005);
  -webkit-box-shadow: var(--shadow-base);
  box-shadow: var(--shadow-base)
}
@media (min-width:992px) and (max-width:1199.98px) {
  .cart {
    max-width: 280px
  }
}
.features {
  background-color: var(--color-light-grey)
}
.features__box {
  padding: var(--space-extra-large) 0
}
.features__title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 40px;
  text-align: center
}
.features__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: var(--space-medium)
}
.features__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 20px
}
.features__cart-img {
  width: 70px
}
.features__cart-title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 20px;
  margin-top: var(--space-extra-small);
  text-align: center
}
.features__cart-desc {
  color: var(--color-dark-grey);
  font-weight: 400;
  font-size: 16px;
  margin-top: var(--space-extra-small);
  text-align: center;
  line-height: 26px
}
.gallery__box {
  padding: var(--space-extra-large) 0
}
.gallery__title {
  color: var(--color-dark);
  font-weight: 700;
  text-align: center;
  font-size: 40px
}
.gallery__desc {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: var(--space-small);
  margin-bottom: var(--space-large)
}
.gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto
}
.gallery__photo {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  margin: 0 var(--space-extra-small);
  cursor: pointer
}
.gallery__photolast {
  width: 200px;
  overflow: hidden;
  margin: 0 var(--space-extra-small);
  opacity: .3
}
.gallery__img {
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  width: 100%;
  height: 500px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover
}
.gallery__photo:hover .gallery__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.gallery__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: var(--space-medium)
}
.gallery__circle {
  background-color: var(--color-dark-grey);
  width: 15px;
  height: 15px;
  margin: 0 var(--space-super-small);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s
}
.gallery__circle:hover,
.gallery__circle_active {
  background-color: var(--color-primary)
}
.accent {
  background: var(--gradient-primary)
}
.accent__box {
  padding: var(--space-extra-large) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.accent__item {
  max-width: 800px
}
.accent__title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 40px
}
.accent__desc {
  color: var(--color-white);
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
  margin-top: var(--space-small)
}
.accent__button {
  color: var(--color-dark);
  background-color: var(--color-light-primary);
  text-decoration: none;
  display: block;
  padding: var(--space-small) var(--space-medium);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700
}
@media (min-width:992px) and (max-width:1199.98px) {
  .accent__item {
    max-width: 600px
  }
}
.reviews {
  background-color: var(--color-light-grey)
}
.reviews__box {
  padding: var(--space-extra-large) 0
}
.reviews__title {
  color: var(--color-dark);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--space-large)
}
.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.slider__item:first-child {
  margin-right: var(--space-medium)
}
.slider__item:last-child {
  margin-left: var(--space-medium)
}
.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  font-size: 20px;
  cursor: pointer
}
.slider__cart {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-dark-grey);
  overflow: hidden;
  border-radius: 5px
}
.slider__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: var(--space-medium)
}
.slider__desc {
  color: var(--color-white);
  line-height: 26px;
  font-size: 18px;
  font-weight: 300
}
.slider__name {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  margin-top: var(--space-small)
}
.slider__position {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-top: var(--space-extra-small)
}
.slider__img {
  width: 400px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover
}
.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--space-small)
}
.slider__navitem {
  width: 15px;
  height: 15px;
  background-color: var(--color-dark-grey);
  border-radius: 50%;
  margin: 0 var(--space-super-small);
  cursor: pointer
}
.slider__navitem:hover,
.slider__navitem_active {
  background-color: var(--color-primary)
}
.maps {
  margin-bottom: -2px
}
.footer {
  background-color: var(--color-dark);
  min-height: 340px
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--space-extra-large) 0;
  position: relative
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  font-size: 18px;
  margin-bottom: var(--space-small);
  margin-right: var(--space-medium)
}
.footer__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-extra-dark);
  color: var(--color-white);
  border-radius: 50%;
  margin-right: var(--space-extra-small)
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.social__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--color-white);
  border-radius: 50%;
  margin: 0 var(--space-extra-small);
  text-decoration: none;
  font-size: 16px
}
.social__circle:nth-child(1) {
  background-color: #4c6c90;
  margin-left: 0
}
.social__circle:nth-child(2) {
  background-color: #55abed
}
.social__circle:nth-child(3) {
  background-color: #3b5997
}
.social__circle:nth-child(4) {
  background-color: #f58534;
  margin-right: 0
}
.form-footer {
  background: var(--gradient-primary);
  padding: var(--space-large) var(--space-medium);
  max-width: 360px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 500px
}
.form-footer__group {
  margin-bottom: var(--space-medium)
}
.form-footer__title {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: var(--space-extra-small)
}
.form-footer__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--color-medium-grey);
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  line-height: 26px
}
.form-footer__input:focus {
  background-color: var(--color-medium-grey)
}
.form-footer__input:hover {
  background-color: var(--color-medium-grey)
}
.form-footer__checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer
}
.form-footer__label {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 26px
}
.form-footer__link {
  color: var(--color-info)
}
.form-footer__button {
  width: 100%;
  border: none;
  background-color: var(--color-light-primary);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 26px;
  outline: 0;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity
}
.form-footer__button:hover {
  opacity: .9
}
.form-footer_red {
  color: var(--color-error)
}
@media (min-width:992px) and (max-width:1199.98px) {
  .form-footer {
    max-width: 300px
  }
}