<!-- start section catalog -->
<section class="catalog" id="catalog">
    <div class="container">
        <div class="catalog__box">
            <div class="catalog__group fade-in-up">
                <div class="catalog__title">Каталог продукции</div>
                <div class="catalog__desc">Красивые и яркие ковры</div>
            </div>
            <div class="catalog__carts">
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button" onclick="renderModal()">Купить</button>
                </div>
                <!-- end component cart -->
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button">Купить</button>
                </div>
                <!-- end component cart -->
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button">Купить</button>
                </div>
                <!-- end component cart -->
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button">Купить</button>
                </div>
                <!-- end component cart -->
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button">Купить</button>
                </div>
                <!-- end component cart -->
                <!-- start component cart -->
                <div class="cart fade-in-up">
                    <img src="http://lp3-gr-textiles.oml.ru/thumb/2/Xmf_DOUQADl8lpXI55lL1g/366r/d/55035097_2.jpg" alt=""
                        class="cart__img">
                    <div class="cart__title">Сатин Мэнси Хаусе</div>
                    <div class="cart__price">1000 R</div>
                    <table class="cart__table">
                        <tr>
                            <th>
                                <div class="cart__th">Материал:</div>
                            </th>
                            <td>
                                <div class="cart__td">Поплин</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Состав ткани:</div>
                            </th>
                            <td>
                                <div class="cart__td">100% хлопок</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Комплект:</div>
                            </th>
                            <td>
                                <div class="cart__td">Постельное белье</div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="cart__th">Производитель:</div>
                            </th>
                            <td>
                                <div class="cart__td">Турция</div>
                            </td>
                        </tr>
                    </table>
                    <button class="cart__button">Купить</button>
                </div>
                <!-- end component cart -->
            </div>
        </div>
    </div>
</section>
<!-- end section catalog -->