<!-- start section subheader -->
<section class="subheader">
    <div class="container">
        <div class="subheader__box">
            <div class="subheader__item subheader__call">
                <!-- start component call -->
                <div class="call">
                    <a href="tel:+79867589681" class="call__phone">
                        <i class="fas fa-phone"></i>
                    </a>
                    <div>
                        <div class="call__stagework">ежедневно с 10:00 до 22:00</div>
                        <a href="tel:+79867589681" class="call__number">+7 (986) 758-96-81</a>
                    </div>
                </div>
                <!-- end component call -->
            </div>
            <div class="subheader__item subheader__company">
                <!-- start component company -->
                <div class="company">
                    <div class="company__item">
                        <img src="images/icon.png" alt="" class="company__logo">
                        <div class="company__name">Алладин</div>
                    </div>
                    <div class="company__desc">Качественные, красивые и яркие ковры</div>
                </div>
                <!-- end component company -->
            </div>
            <div class="subheader__item subheader__icons">
                <!-- start component icons -->
                <ul class="icons">
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            <i class="fab fa-viber"></i>
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <!-- end component icons -->
            </div>
        </div>
    </div>
</section>
<!-- end section subheader -->