<!-- start section subheader -->
<section class="subheader">
    <div class="container">
        <div class="subheader__box">
            <div class="subheader__item">
                <!-- start component call -->
                <div class="call">
                    
                </div>
                <!-- end component call -->
            </div>
            <div class="subheader__item">
                <!-- start component company -->
                <div class="company">
                    company
                </div>
                <!-- end component company -->
            </div>
            <div class="subheader__item">
                <!-- start component icons -->
                <div class="icons">
                    icons
                </div>
                <!-- end component icons -->
            </div>
        </div>
    </div>
</section>
<!-- end section subheader -->