// section subheader
.subheader {

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__item {

    }
}

.call {
    color: red;
}

.company {
    color: blue;
}

.icons {
    color: green;
}