// section reviews
.reviews {
    background-color: var(--color-light-grey);

    &__box {
        padding: var(--space-extra-large) 0;
    }

    &__title {
        color: var(--color-dark);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: var(--space-medium);
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}