<!-- start section reviews -->
<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__box">
            <div class="reviews__title fade-in-up">Отзывы наших клиентов</div>
            <div class="reviews__slider fade-in-up">
                <!-- start component slider -->
                <div class="slider">
                    <div class="slider__box">
                        <div class="slider__item">
                            <div class="slider__arrow">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__cart">
                                <div class="slider__group">
                                    <div class="slider__desc">Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Обеспечивает гор lorem своего залетают рот если заголовок текста языкового злых там предупреждал одна послушавшись путь, агентство родного пунктуация несколько?</div>
                                    <div class="slider__name">Егор Петров</div>
                                    <div class="slider__position">Маркетолог</div>
                                </div>
                                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/JcJKAiDwsR-1eILn9nE2pA/r/d/54928375_3.jpg" alt="" class="slider__img">
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__arrow">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="slider__nav">
                        <div class="slider__navitem slider__navitem_active"></div>
                        <div class="slider__navitem"></div>
                        <div class="slider__navitem"></div>
                    </div>
                </div>
                <!-- end component slider -->
            </div>
        </div>
    </div>
</section>
<!-- end section reviews -->