// section reviews
.reviews {
    background-color: var(--color-light-grey);

    &__box {
        padding: var(--space-extra-large) 0;
    }

    &__title {
        color: var(--color-dark);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: var(--space-large);
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box {
        display: flex;
        align-items: center;
    }

    &__item:first-child {
        margin-right: var(--space-medium);
    }

    &__item:last-child {
        margin-left: var(--space-medium);
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--color-dark-grey);
        color: var(--color-white);
        font-size: 20px;
        cursor: pointer;
    }

    &__cart {
        width: 100%;
        min-height: 400px;
        display: flex;
        background-color: var(--color-dark-grey);
        overflow: hidden;
        border-radius: 5px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--space-medium);
    }

    &__desc {
        color: var(--color-white);
        line-height: 26px;
        font-size: 18px;
        font-weight: 300;
    }

    &__name {
        color: var(--color-white);
        font-size: 24px;
        font-weight: 700;
        margin-top: var(--space-small);
    }

    &__position {
        color: var(--color-primary);
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        margin-top: var(--space-extra-small);
    }

    &__img {
        width: 400px;
        object-position: center;
        object-fit: cover;
    }

    &__nav {
        display: flex;
        margin-top: var(--space-small);
    }

    &__navitem {
        width: 15px;
        height: 15px;
        background-color: var(--color-dark-grey);
        border-radius: 50%;
        margin: 0 var(--space-super-small);
        cursor: pointer;
    }

    &__navitem_active, &__navitem:hover {
        background-color: var(--color-primary);
    } 
}