<!-- start section brands -->
<section class="brands">
    <div class="container">
        <div class="brands__box">
            <div class="brands__title">Бренды</div>
            <div class="brands__group">
                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/_XLYtjqgsq8klluVTHONMA/408r/d/fgs16_logo_neutral_1.svg" alt="" class="brands__img">
                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/K7vqbnYvbzc3SQJAQ60FwA/408r/d/fgs16_logo_neutral_2.svg" alt="" class="brands__img">
                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/GnMAouhufJ0M5-NBacFMQQ/408r/d/fgs16_logo_neutral_3.svg" alt="" class="brands__img">
                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/NIynG_HrDOgZoTXUV7lhaQ/408r/d/fgs16_logo_neutral_4.svg" alt="" class="brands__img">
                <img src="http://lp3-gr-footwear.oml.ru/thumb/2/JIJZIcuTxgWO6jtgK9pbOA/408r/d/fgs16_logo_neutral_5.svg" alt="" class="brands__img">
            </div>
        </div>
    </div>
</section>
<!-- end section brands -->