.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: var(--space-small) 0;
  -webkit-box-shadow: var(--shadow-header);
  box-shadow: var(--shadow-header);
  background-color: var(--color-white)
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none
}
.header__link {
  display: block;
  padding: 0 var(--space-small);
  text-decoration: none;
  color: var(--color-dark);
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: color,-webkit-transform;
  transition-property: color,-webkit-transform;
  -o-transition-property: transform,color;
  transition-property: transform,color;
  transition-property: transform,color,-webkit-transform
}
.header__link:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: var(--color-primary)
}