<!-- start section main -->
<section class="main">
    <div class="container">
        <div class="main__box">
            <div class="main__item">
                <!-- start component sale -->
                <div class="sale">
                    <div class="sale__title">Заполните заявку чтобы получить скидку 20%</div>
                    <div class="sale__desc">Введите данные для подачи заявки до окончания акции</div>
                    <div class="sale__timeout">До конца акции осталось</div>
                    <!-- start component timeout -->
                    <div class="timeout">
                        <div class="timeout__item">
                            <div class="timeout__booble">16</div>
                            <div class="timeout__subbooble">Дней</div>
                        </div>
                        <div class="timeout__item">
                            <div class="timeout__booble">17</div>
                            <div class="timeout__subbooble">Часов</div>
                        </div>
                        <div class="timeout__item">
                            <div class="timeout__booble">48</div>
                            <div class="timeout__subbooble">Минут</div>
                        </div>
                        <div class="timeout__item">
                            <div class="timeout__booble">16</div>
                            <div class="timeout__subbooble">Секунд</div>
                        </div>
                    </div>
                    <!-- end component timeout -->
                </div>
                <!-- end component sale -->
            </div>
            <div class="main__item">
                <!-- start component form -->
                <form action="" class="form">
                    <div class="form__group">
                        <div class="form__title"><span class="form_red">*</span> Имя</div>
                        <input type="text" class="form__input">
                    </div>
                    <div class="form__group">
                        <div class="form__title"><span class="form_red">*</span> Телефон</div>
                        <input type="text" class="form__input">
                    </div>
                    <div class="form__group">
                        <input type="checkbox" checked id="form__checkbox" class="form__checkbox">
                        <label for="form__checkbox" class="form__label">
                            <span class="form_red">*</span> 
                            <span>Я согласен на обработку моих </span>
                            <a href="#" class="form__link">персональных данных</a>
                        </label>
                    </div>
                    <button class="form__button">Получить скидку</button>
                </form>
                <!-- end component form -->
            </div>
        </div>
    </div>
</section>
<!-- end section main -->