// section about
.about {
    background-image: url(http://lp3-gr-textiles.oml.ru/thumb/2/bgxhtH9azgTZ9vBPNRiycg/1288r/d/54931803_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    // background-attachment: fixed;

    &__box {
        padding: var(--space-extra-large) 0;
    }

    &__banner {
        background-color: rgba(0,0,0,0.5);
        padding: var(--space-large) var(--space-medium);
        max-width: 800px;
    }

    &__title {
        color: var(--color-white);
        font-size: 50px;
        font-weight: 700;
    }

    &__desc {
        color: var(--color-light-grey);
        font-size: 22px;
        font-weight: 400;
        margin-top: var(--space-medium);
        line-height: 28px;
    }

    &__button {
        display: flex;
        justify-content: center;
        max-width: 180px;
        background: var(--gradient-primary);
        padding: var(--space-small) var(--space-medium);
        color: var(--color-white);
        text-decoration: none;
        border-radius: 5px;
        margin-top: var(--space-medium);
        font-size: 18px;
        font-weight: 700;
    }

    &__button:hover {
        opacity: 0.9;
    }
}

@media (max-width: 575.98px) {
    .about {
        &__box {
            margin: 0 -20px;
            padding: 0;
        }

        &__banner {
            width: 100%;
            padding: var(--space-extra-large) var(--space-small);
        }
    
        &__title {
            font-size: 35px;
        }
    
        &__desc {
            font-size: 16px;
            line-height: 22px;
        }
    
        &__button {
            font-size: 16px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .about {
        &__title {
            font-size: 35px;
        }
    
        &__desc {
            font-size: 18px;
        }
    
        &__button {
            padding: var(--space-small) var(--space-medium);
            font-size: 16px;
        }
    }
}