<!-- start section gallery -->
<div class="gallery" id="gallery">
    <div class="gallery__box">
        <div class="gallery__group fade-in-up">
            <div class="gallery__title">Наши фотографии ковров</div>
            <div class="gallery__desc">Фотографии ковров в интерьере от наших клиентов</div>
        </div>
        <div class="gallery__photos">
            <div class="gallery__photo">
                <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/ytXolYNW_lZGN5gTgx711A/r556/d/54687699_2.jpg" alt="" class="gallery__img">
            </div>
            <div class="gallery__photo">
                <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/AyDBgNBY_WwzcS4JxYLvUg/r556/d/54580154_2.jpg" alt="" class="gallery__img">
            </div>
            <div class="gallery__photo">
                <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/cnbB2fFZdjv-WemZQ441Ng/r556/d/54159261_2.jpg" alt="" class="gallery__img">
            </div>
            <div class="gallery__photo">
                <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/ytXolYNW_lZGN5gTgx711A/r556/d/54687699_2.jpg" alt="" class="gallery__img">
            </div>
            <div class="gallery__photo">
                <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/ytXolYNW_lZGN5gTgx711A/r556/d/54687699_2.jpg" alt="" class="gallery__img">
            </div>
        </div>
        <div class="gallery__nav fade-in-up"></div>
    </div>
</div>
<!-- end section gallery -->
