<div class="gallery" id="gallery">
    <div class="gallery__title">Наши фотографии ковров</div>
    <div class="gallery__desc">Фотографии ковров в интерьере от наших клиентов</div>
    <div class="gallery__slider">
        <img src="img/img1.jpg" alt="" class="gallery__img">
        <img src="img/img2.jpg" alt="" class="gallery__img">
        <img src="img/img3.jpg" alt="" class="gallery__img">
        <img src="img/img4.jpg" alt="" class="gallery__img">
        <img src="img/img5.jpg" alt="" class="gallery__img">
        <img src="img/img6.jpg" alt="" class="gallery__img">
        <img src="img/img7.jpg" alt="" class="gallery__img">
    </div>
    <div class="gallery__control container">
        <div class="gallery__arrows"></div>
        <div class="gallery__dots"></div>
    </div>
</div>