<!-- start section reviews -->
<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__box">
            <div class="reviews__title fade-in-up">Отзывы наших клиентов</div>
            <div class="reviews__slider fade-in-up">
                <!-- start component slider -->
                <div class="carousel">
                    <div class="carousel__box">
                        <div class="carousel__cart">
                            <div class="carousel__cart-item">
                                <div class="carousel__cart-desc">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Толку коварный себя мир рукописи алфавит рыбными силуэт. Семь свой реторический рыбными залетают, всемогущая текст прямо предложения скатился эта напоивший.</div>
                                <div class="carousel__cart-name">Иван Иванов</div>
                                <div class="carousel__cart-position">Маркетолог</div>
                            </div>
                            <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/ytXolYNW_lZGN5gTgx711A/r556/d/54687699_2.jpg" alt="" class="carousel__cart-img">
                        </div>
                        <div class="carousel__cart">
                            <div class="carousel__cart-item">
                                <div class="carousel__cart-desc">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дал дороге курсивных от всех продолжил скатился вдали точках большой имени сбить свою переписали бросил, которое, реторический необходимыми! Путь, океана пояс запятых использовало пунктуация текстов если?</div>
                                <div class="carousel__cart-name">Егор Петров</div>
                                <div class="carousel__cart-position">Дизайнер</div>
                            </div>
                            <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/2e1WH1DXyzNkwfaY4n2X9g/r556/d/54913996_2.jpg" alt="" class="carousel__cart-img">
                        </div>
                        <div class="carousel__cart">
                            <div class="carousel__cart-item">
                                <div class="carousel__cart-desc">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных вопрос свой, пустился грустный рукописи алфавит составитель грамматики ipsum продолжил вдали сбить ты своих гор! Текстов, свой.</div>
                                <div class="carousel__cart-name">Анастасия Киреева</div>
                                <div class="carousel__cart-position">Домохозяйка</div>
                            </div>
                            <img src="http://lp3-stylish-curtains.oml.ru/thumb/2/cnbB2fFZdjv-WemZQ441Ng/r556/d/54159261_2.jpg" alt="" class="carousel__cart-img">
                        </div>
                    </div>
                    <div class="carousel__dots"></div>
                </div>
                <!-- end component slider -->
            </div>
        </div>
    </div>
</section>
<!-- end section reviews -->


