<!-- start section footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__item">
                <div>
                    <a href="#" class="footer__link">
                        <i class="fas fa-phone footer__circle"></i>
                        <span>+7 (986) 758-96-81</span>
                    </a>
                    <div class="footer__link">
                        <i class="fas fa-map-marker-alt footer__circle"></i>
                        <span>г. Заречный, ул. Восточная 4, Россия</span>
                    </div>
                </div>
                <div>
                    <a href="#" class="footer__link">
                        <i class="fas fa-envelope footer__circle"></i>
                        <span>mail@example.com</span>
                    </a>
                    <div class="footer__social">
                        <!-- start component social -->
                        <div class="social">
                            <a href="#" class="social__circle">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" class="social__circle">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social__circle">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social__circle">
                                <i class="fab fa-odnoklassniki"></i>
                            </a>
                        </div>
                        <!-- end component social -->
                    </div>
                </div>
            </div>
            <!-- start component form-footer -->
            <form action="" class="form-footer">
                <div class="form-footer__group">
                    <div class="form-footer__title"><span class="form-footer_red">*</span> Имя</div>
                    <input type="text" class="form-footer__input">
                </div>
                <div class="form-footer__group">
                    <div class="form-footer__title"><span class="form-footer_red">*</span> Телефон</div>
                    <input type="text" class="form-footer__input">
                </div>
                <div class="form-footer__group">
                    <input type="checkbox" checked id="form-footer__checkbox" class="form-footer__checkbox">
                    <label for="form-footer__checkbox" class="form-footer__label">
                        <span class="form-footer_red">*</span> 
                        <span>Я согласен на обработку моих </span>
                        <a href="#" class="form-footer__link">персональных данных</a>
                    </label>
                </div>
                <button class="form-footer__button">Оставить заявку</button>
            </form>
            <!-- end component form-footer -->
        </div>
    </div>
</footer>
<!-- end section footer -->