.reviews {
  background-color: var(--color-light-grey);
  overflow: hidden
}
.reviews__box {
  padding: var(--space-extra-large) 0
}
.reviews__title {
  color: var(--color-dark);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--space-large)
}
@media (max-width:575.98px) {
  .reviews__title {
    font-size: 30px
  }
}
.carousel__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.carousel__prev {
  margin-right: var(--space-medium-large)
}
.carousel__next {
  margin-left: var(--space-medium-large)
}
.carousel__cart {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: var(--space-medium)
}
.carousel__cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: var(--space-large);
  width: 50%
}
.carousel__cart-desc {
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify
}
.carousel__cart-name {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 20px;
  margin-top: var(--space-small)
}
.carousel__cart-position {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin-top: var(--space-extra-small)
}
.carousel__cart-img {
  width: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover
}
@media (max-width:575.98px) {
  .carousel__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .carousel__cart-item {
    padding-right: 0;
    width: 100%
  }
  .carousel__cart-img {
    width: 100%;
    margin-top: var(--space-medium)
  }
  .carousel__cart-desc {
    font-size: 14px;
    line-height: 22px
  }
  .carousel__cart-name {
    font-size: 18px
  }
  .carousel__cart-position {
    font-size: 16px
  }
}
@media (min-width:576px) and (max-width:767.98px) {
  .carousel__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .carousel__cart-item {
    padding-right: 0;
    width: 100%
  }
  .carousel__cart-img {
    width: 100%;
    margin-top: var(--space-medium)
  }
  .carousel__prev {
    margin-right: var(--space-small)
  }
  .carousel__next {
    margin-left: var(--space-small)
  }
  .carousel__cart-desc {
    font-size: 16px;
    line-height: 22px
  }
  .carousel__cart-name {
    font-size: 18px
  }
  .carousel__cart-position {
    font-size: 16px
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .carousel__cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .carousel__cart-item {
    padding-right: 0;
    width: 100%
  }
  .carousel__cart-img {
    width: 100%;
    margin-top: var(--space-medium)
  }
  .carousel__prev {
    margin-right: var(--space-medium)
  }
  .carousel__next {
    margin-left: var(--space-medium)
  }
}
@media (min-width:992px) and (max-width:1199.98px) {
  .carousel__cart-item {
    padding-right: var(--space-medium);
    width: 60%
  }
  .carousel__cart-img {
    width: 40%
  }
}
.carousel .slick-dots {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: var(--space-medium)
}
.carousel .slick-dots button {
  background-color: var(--color-dark-grey);
  width: 15px;
  height: 15px;
  margin: 0 var(--space-super-small);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color,color;
  -o-transition-property: background-color,color;
  transition-property: background-color,color;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  outline: 0;
  border: none;
  color: var(--color-dark-grey)
}
.carousel .slick-active button {
  background-color: var(--color-primary);
  color: var(--color-primary)
}
.carousel .slick-arrow {
  padding: var(--space-extra-small);
  color: var(--color-primary);
  font-size: 30px;
  opacity: .6
}
.carousel .slick-active {
  outline: 0!important;
  border: none!important
}