<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpet</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {% include 'components/header/header.html' %}

    {% include 'components/subheader/subheader.html' %}

    {% include 'components/main/main.html' %}

    {% include 'components/actions/actions.html' %}

    {% include 'components/catalog/catalog.html' %}

    {% include 'components/features/features.html' %}

    {% include 'components/brands/brands.html' %}

    <script src="js/scripts.js"></script>
</body>
</html>