<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />

    <title>Alladin</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="main.css">
</head>

<body id="sale">
    {% include './html/partials/header.html' %}

    {% include './html/partials/subheader.html' %}

    {% include './html/partials/main.html' %}

    {% include './html/partials/catalog.html' %}

    {% include './html/partials/features.html' %}

    {% include './html/partials/about.html' %}

    {% include './html/partials/accent.html' %}

    {% include './html/partials/gallery.html' %}

    {% include './html/partials/testimonials.html' %}

    {% include './html/partials/maps.html' %}

    {% include './html/partials/footer.html' %}

    {% include './html/partials/modal.html' %}

    <script src="main.js" type="text/javascript"></script>
</body>

</html>