.subheader {
  overflow: hidden
}
.subheader__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "call company icons";
  padding: var(--space-medium) 0
}
.subheader__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.subheader__call {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: call;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.subheader__company {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: company;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.subheader__icons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icons;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
@media (max-width:575.98px) {
  .subheader__box {
    grid-row-gap: var(--space-medium);
    -ms-grid-rows: auto var(--space-medium) auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "company" "call" "icons"
  }
  .subheader__call {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .subheader__company {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .subheader__icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .subheader__call {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
  .subheader__company {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }
  .subheader__icons {
    -ms-grid-row: 5;
    -ms-grid-column: 1
  }
}
@media (min-width:576px) and (max-width:767.98px) {
  .subheader__box {
    grid-row-gap: var(--space-medium);
    -ms-grid-rows: auto var(--space-medium) auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "company company" "call    icons"
  }
  .subheader__call {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
  .subheader__company {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2
  }
  .subheader__icons {
    -ms-grid-row: 3;
    -ms-grid-column: 2
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .subheader__box {
    grid-row-gap: var(--space-medium);
    -ms-grid-rows: auto var(--space-medium) auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "company company" "call    icons"
  }
  .subheader__call {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
  .subheader__company {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2
  }
  .subheader__icons {
    -ms-grid-row: 3;
    -ms-grid-column: 2
  }
}
.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.call__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  margin-right: var(--space-small)
}
.call__stagework {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: var(--space-extra-small)
}
.call__number {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none
}
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.company__name {
  color: var(--color-dark);
  font-size: 30px;
  font-weight: 700;
  text-align: center
}
.company__desc {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 20px;
  margin-top: var(--space-extra-small);
  text-align: center
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none
}
.icons__item {
  margin: 0 var(--space-super-small)
}
.icons__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  background-color: var(--color-medium-grey);
  font-size: 20px;
  border-radius: 50%
}
.icons__item:first-child {
  margin-left: 0
}
.icons__item:last-child {
  margin-right: 0
}