.footer {
  background-color: var(--color-dark);
  min-height: 340px
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--space-extra-large) 0;
  position: relative
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  font-size: 18px;
  margin-bottom: var(--space-small);
  margin-right: var(--space-medium)
}
.footer__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-extra-dark);
  color: var(--color-white);
  border-radius: 50%;
  margin-right: var(--space-extra-small)
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.social__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--color-white);
  border-radius: 50%;
  margin: 0 var(--space-extra-small);
  text-decoration: none;
  font-size: 16px
}
.social__circle:nth-child(1) {
  background-color: #4c6c90;
  margin-left: 0
}
.social__circle:nth-child(2) {
  background-color: #55abed
}
.social__circle:nth-child(3) {
  background-color: #3b5997
}
.social__circle:nth-child(4) {
  background-color: #f58534;
  margin-right: 0
}
.form-footer {
  background: var(--gradient-primary);
  padding: var(--space-large) var(--space-medium);
  max-width: 360px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 500px
}
.form-footer__group {
  margin-bottom: var(--space-medium)
}
.form-footer__title {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: var(--space-extra-small)
}
.form-footer__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--color-medium-grey);
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  line-height: 26px
}
.form-footer__input:focus {
  background-color: var(--color-medium-grey)
}
.form-footer__input:hover {
  background-color: var(--color-medium-grey)
}
.form-footer__checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer
}
.form-footer__label {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 26px
}
.form-footer__link {
  color: var(--color-info)
}
.form-footer__button {
  width: 100%;
  border: none;
  background-color: var(--color-light-primary);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 26px;
  outline: 0;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity
}
.form-footer__button:hover {
  opacity: .9
}
.form-footer_red {
  color: var(--color-error)
}
@media (min-width:992px) and (max-width:1199.98px) {
  .form-footer {
    max-width: 300px
  }
}