<!-- start section actions -->
<section class="actions">
    <div class="container">
        <div class="actions__box">
            <div class="actions__item">
                <div class="actions__cart">
                    <img src="images/warranty.png" alt="" class="actions__cart-img">
                    <div class="actions__cart-title">Примерка перед покупкой</div>
                    <div class="actions__cart-desc">Вы сможете примерить обувь перед оплатой заказа курьеру. Оплачивайте только то, что вам подошло и понравилось!</div>
                </div>
            </div>
            <div class="actions__item">
                <div class="actions__cart">
                    <img src="images/sales.png" alt="" class="actions__cart-img">
                    <div class="actions__cart-title">Доставка на следующий день</div>
                    <div class="actions__cart-desc">В Москве и 60 других крупных городах России вы получите свой заказ уже на следующий день! Доставка бесплатна при покупке товаров на сумму более 1500 рублей.</div>
                </div>
            </div>
            <div class="actions__item">
                <div class="actions__cart">
                    <img src="images/delivery.png" alt="" class="actions__cart-img">
                    <div class="actions__cart-title">Примерка перед покупкой</div>
                    <div class="actions__cart-desc">Покупки можно оплатить не только наличными, но и банковскими картами. У всех курьеров при себе есть терминал для оплаты картами.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section actions -->