.main {
  background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.6)),to(rgba(0,0,0,.6))),url(../images/bg.jpg);
  background-image: -o-linear-gradient(bottom,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/bg.jpg);
  background-image: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--space-large) 0
}
.main__item {
  max-width: 600px
}
@media (min-width:576px) and (max-width:767.98px) {
  .main__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .main__item {
    max-width: 100%;
    width: 100%
  }
  .main__item:nth-child(2) {
    margin-top: var(--space-large)
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .main__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .main__item {
    max-width: 100%;
    width: 100%
  }
  .main__item:nth-child(2) {
    margin-top: var(--space-large)
  }
}
.sale {
  color: var(--color-white)
}
.sale__title {
  font-size: 40px;
  font-weight: 700
}
.sale__desc {
  font-size: 20px;
  font-weight: 400;
  margin-top: var(--space-medium)
}
.sale__timeout {
  font-size: 18px;
  font-weight: 700;
  margin-top: var(--space-large);
  margin-bottom: var(--space-small)
}
@media (min-width:576px) and (max-width:767.98px) {
  .sale {
    padding-right: var(--space-medium)
  }
}
@media (min-width:992px) and (max-width:1199.98px) {
  .sale {
    padding-right: var(--space-medium)
  }
}
.timeout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.timeout__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 var(--space-super-small)
}
.timeout__item:first-child {
  margin-left: 0
}
.timeout__item:last-child {
  margin-right: 0
}
.timeout__booble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-dark);
  font-size: 35px;
  font-weight: 700
}
.timeout__subbooble {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-white);
  margin-top: 3px
}
.form {
  background-color: var(--color-white);
  padding: var(--space-large) var(--space-medium);
  max-width: 360px;
  border-radius: 5px
}
.form__group {
  margin-bottom: var(--space-medium)
}
.form__title {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: var(--space-extra-small)
}
.form__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid var(--color-medium-grey);
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  line-height: 26px
}
.form__input:focus {
  background-color: var(--color-medium-grey)
}
.form__input:hover {
  background-color: var(--color-medium-grey)
}
.form__checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer
}
.form__label {
  color: var(--color-dark-grey);
  font-weight: 400;
  line-height: 26px
}
.form__link {
  color: var(--color-info)
}
.form__button {
  width: 100%;
  border: none;
  background: var(--gradient-primary);
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 26px;
  outline: 0;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: var(--duration-base);
  -o-transition-duration: var(--duration-base);
  transition-duration: var(--duration-base);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity
}
.form__button:hover {
  opacity: .9
}
.form_red {
  color: var(--color-error)
}
@media (min-width:576px) and (max-width:767.98px) {
  .form {
    max-width: 100%;
    width: 100%
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .form {
    max-width: 100%;
    width: 100%
  }
}